body{
    font-family: "Bebas Neue", sans-serif;
    
}

h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
}

.title{
    display: flex;
}

.title1 h1{
    color: aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
}

img{
    width: 15%;
}